doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')
    meta(name='description', content='Responsive page homework')
    meta(name='author', content='yuriy')
    title Responsive
    link(rel='stylesheet', href='css/index.css')
  body
    .body.page-wrapper
      
      //red block
      header.header.body__item--red
      
      //yellow block
      article.article.body__item
        .article__item
          h4
            |1
        .article__item
          h4
            |2
        .article__item
          h4
            |3
        .article__item
          h4
            |4
          
      //orange block    
      section.subheader.body__item.body__item--orange
        
      //green block
      aside.aside.body__item
        .aside__item.top.body__item--green
        .aside__item.footer.body__item--blue
        
      //pink block
      section.section.body__item.body__item--pink
      
      //blue block
      footer.footer.body__item.body__item--blue
    
