
html,
body
  height: 100%;
  width: 100%;

.hide
  &--desktop
    display none
  &--tablet
    display none
  &--mobile
    display none

.show
  &--desktop
    display flex
  &--tablet
    display flex
  &--mobile
    display flex
